/*
    Document   : Styles
    Created on : 4/5/22

    Author     : Evan Minor
    Description: Define styles and such
    yata yata yata
*/

/*Remember Classes are the elements of HTML
           ID's are sections of the page you want
*/



body {  color: black;
        font-family:"Comic Sans MS";
        font-size: 16px;
        background: rgb(131,58,180);
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

td { font-size: 16px;  }

/*This would be the Line dividers*/
.hr { /*This would be a class*/
    border: 3px solid black;
    border-radius: 5px;
    margin-top: 25px;
}



/*This is for the Header and Footer*/

#footer {
    background-color: white;
    border: black solid 2px;
    border-radius:5px;
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
    background-color: var(--checker-color-2);
    background-image: var(--checker-gradient), var(--checker-gradient);
    background-position: 0 0, var(--checker-size) var(--checker-size);
    background-size: calc(var(--checker-size) * 2) calc(var(--checker-size) * 2);
}

.header {
    text-align: left;

    border: black solid 5px;
    border-radius:75px;
    margin-left: 500px ;
    margin-right: 500px;
    margin-top: 25px;
    background-color: white;
    font-family: fantasy;
    background-color: var(--checker-color-2);
    background-image: var(--checker-gradient), var(--checker-gradient);
    background-position: 0 0, var(--checker-size) var(--checker-size);
    background-size: calc(var(--checker-size) * 2) calc(var(--checker-size) * 2);
}



:root {
    --checker-color-1: orange;
    --checker-color-2: coral;
    --checker-size: 25px;
    --checker-gradient: linear-gradient(45deg, var(--checker-color-1) 25%, transparent 25%, transparent 75%, var(--checker-color-1) 75%);
}


/*Actual search bar*/

#searchbar {
    float: right;
    margin-top: 10px;
    margin-right: 0px;


    margin-bottom: 10px;
}
/*This where the links to other pages*/

.NavBar{
    text-align: center;
    border: black 2px solid;
    border-radius: 10px;
    border-collapse: collapse;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
    background-color: var(--checker-color-2);
    background-image: var(--checker-gradient), var(--checker-gradient);
    background-position: 0 0, var(--checker-size) var(--checker-size);
    background-size: calc(var(--checker-size) * 2) calc(var(--checker-size) * 2);



}
th.NavBar {
    height: 50px;
    width: 100px;
    border: 1px solid black;
    background-color: #ff826f;
    background-image: none;

    padding: 5px;
    margin-right: 5px;


}

/*Link styling */
a{
    outline: none;
    text-decoration: none;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

a:active{
    color: white;
}

th.NavBar:hover{
    background-color: #ffdaaa;
}

/*This is the style for the welcome text*/

#WelcomeText {
    text-align: center;
    border: black solid 2px;
    border-radius: 5px;
    background-color: white;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 20px;
}
.HomeImage{
    text-align: center;

    padding-top: 20px;
}
img.HomeImage{

    padding-top: 0px;
    border: black solid 5px;
    border-radius: 10px;
}

/* this is the style for the tables of info */

#CarTitle{
    text-align: left;
    border: 2px solid black;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 75%;
    margin-left: 2%;


}
/*For the Add Car Button*/
#AddCar{
    width:300px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.AddCarInput{
    width:300px;
}

#AddCarSubmit{
    width: 150px;
}




/*For the individual view of a car */

.viewCarsTable{
    background-color: white;
    text-align: center;
}
/*For normal data columns *anything that is not links*/

td.viewCarsTable#normal{
    padding: 20px;
}
/*for hovering over links */
td.viewCarsTable:hover#link{
    background-color: #ffdaaa;
    border: 1px solid black;
    border-radius: 5px;
}
table.viewCarsTable{
    border: 2px solid black;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;

}
th.viewCarsTable{
    border: 1px solid black;
    background-color: #ff826f;
    padding: 5px;
    margin-right: 5px;
}

.CarTable{

    background-color: white;
    text-align: center;
    margin-right: 50%;
    margin-left: 2%;
    float: left;
    border-bottom: 1px solid #ddd;
}
img.CarTable{
    height: 200px;
    width: 200px;
}


/* styles for the suggestion div block and the spans in it*/
#suggestionDiv {
    position: absolute;
    padding: 0;
    margin: 0;
    right: -1px;
    background-color: #fff;
    font-size: 0.85em;
    z-index: 9999;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 2px 10px 12px 2px rgba(0,0,0,.175);
}

#suggestionDiv span {
    display: block;
    padding: 4px 3px 4px 10px;
    cursor: default;
    min-width: 178px;
    white-space: nowrap;
}

#suggestionDiv span:hover {
    background-color: #F5DEB3;
}




#ListTitle{
    text-align: center;
    border: 2px solid black;
    background-color: white;

    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 75%;
    margin-left: 2%;


}
